// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

// Colors
$main_color: #dd2f6e;
$color_dark: #1d2231;
$color_grey: #8390a2;

// Sizes
$tablet: 1000px;
$mobile: 600px;
